.App {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
}

button {
    border: 2px solid #2c1b09; /* Установка цвета и ширины границы */
    transition: all 0.3s ease; /* Добавление анимации перехода */
    background-color: #8b351c;
}

button:hover {
    background-color: #2c1b09;
    border: 2px solid #8b351c; 
}